body
{
    background-image: url(img/file_icon.png);
    background-size: 8%;
}
#idDivBody
{
    background-color: rgba(240, 248, 255, 0.6);
}
.main-content
{
    background-color: rgba(240, 248, 255, 0.8);
}
.img{
    max-width: 500px;
    max-height: 500px;
}
.card-img-top
{
    max-width: 20vw;
}